body {
  background-color: orange; }

#Slide, object {
  width: 1200px;
  height: 700px;
  background-color: white; }

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: green; }

li {
  margin-left: 10px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer; }
  li:hover {
    background-color: aqua; }
  li:nth-of-type(n+3) {
    background-color: grey;
    cursor: not-allowed; }

ul:hover {
  cursor: context-menu; }


