#styling{
    background-color: rgb(50, 50, 139);
}
#class,#property,#attribute{
    background-color: rgb(182, 182, 229);
    width:70%;
    position:fixed;
    top:100px;
    left:10%;
}
#property{
    top:150px;
}
#attribute{
    top:200px;
}
#file-input {
    color: transparent;
  }
  #file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  #file-input::before {
    content: 'Select some files';
   color: black;
     display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select:none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
  }
  
 
  #file-input:hover::before {
    border-color: black;
  }
  #file-input:active {
    outline: 0;
  }
  #file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }